{% extends 'base.html' %}
{% load static %}

{% block scripts %}
{% endblock scripts %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" name="new-statistic">
        <button type="submit" class="btn btn-primary mt-3">+ add</button>
    </div>
</form>


{% if qs %}

    <ul>
        {% for el in qs %}
            <li><a href="{{ el.get_absolute_url }}">{{el.name}}</a></li>
        {% endfor%}
    </ul>

{% endif %}

<div  id="app" class="container">
    <class class="row">
        <div class="col -10 mx-auto mt-5">
                <canvas id="myChart" width="400" height="200" ></canvas>
        </div>
    </class>
</div>
<script src="{% static 'stats/graph.js'%}"></script>

{% endblock content %}

